/* Panel */
div a { color: #f15c24; }
div a:focus, div a:hover { color: #f15c24; }
.button { background: none repeat scroll 0 0 #f15c24; }
.btn-default:hover,
.btn-default:focus { 
	background-color: #f15c24;
	border-color: #f15c24;
}
.c-color {
	background-color: #f15c24 !important;
}
.tp-caption.style3 {
	background-color: #f15c24 !important;
}
#footer6 .social_icon a, 
#footer7 .social_icon a, 
#footer8 .social_icon a, 
#footer9 .social_icon a, 
#footer10 .social_icon a { color: #f15c24; }
/* ul.links > li:hover a {
	color: #f15c24;
} */
.btn-primary { background-color: #f15c24 !important; }
/* Main Content */
#header-v3 .logo { background: none repeat scroll 0 0 #f15c24; }
.cms-index-index .header-container-2, 
.cms-index-index .header-container-3 {
	border-bottom: 2px solid #f15c24;
}
#header-v1 .topbar,
#header-v2 .topbar,
#header-v4 .topbar { 
	background-color: #f15c24;
}
.postDetails > span > label { color: #f15c24; }
.cms-home #header-v4 .sticky_menu #open-button { background: none repeat scroll 0 0 #f15c24; }
@media (max-width: 990px) {
	.content-wrapper { background:#f15c24; }
}
#open-button { background:#f15c24; }
.lefttop > div.btn-group > ul > li > a:focus,
.lefttop > div.btn-group > ul > li > a:hover {
	color: #f15c24;	
}
#header-v1 .iconuser,
#header-v2 .iconuser { color: #f15c24; }
.toplinks:hover .iconuser {
	background-color: #f15c24;
}
/* #top-cart-dropdown:hover > i {
	background-color: #f15c24;	
} */
/* #search_mini_form:hover .form-search > button {
	background-color: #f15c24;
} */
.toplinks > ul > li:hover > a {
	color: #f15c24;
}
@media (min-width: 992px) {
	.cms-home #header-v4 .content-wrapper ul a:hover { color: #f15c24 !important; }
}
.deals-container .product-name a:hover,
.deals-container .product-name a:focus { color: #f15c24; }
.block-content-sidebar .subtotal > span.price { color: #f15c24; }
.block-content-sidebar .baritem:hover {
	border-left: 2px solid #f15c24;
}
/* div.form-search > button:hover { background-color: #f15c24; } */
.block-content-sidebar .product-details { color: #f15c24; }
#header-v1 #top-cart-dropdown .fa-shopping-cart,
#header-v1 div.form-search > button,
#header-v2 #top-cart-dropdown .fa-shopping-cart,
#header-v2 div.form-search > button { color: #f15c24; }
#top-cart-dropdown > em { background-color: #f15c24; }
#top-cart-dropdown .fa-shopping-cart:hover { background-color: #f15c24; }
.block-content-sidebar .product-name a:hover {
	color: #f15c24;
}
.topright { color: #f15c24; }
.megamenu ul.nav-menu > li :before, 
.megamenu ul.nav-menu > li:after {
    border-bottom-color: #f15c24;
}
.megamenu ul.nav-menu > li:hover a, .megamenu ul.nav-menu > li.active {
    color: #f15c24;
}
.megamenu ul.nav-menu > li:before, 
.megamenu ul.nav-menu > li:after { border-bottom: 2px solid #f15c24; }
.megamenu ul.nav-menu > li:before, .megamenu ul.nav-menu > li:after {
	border-bottom: 2px solid #f15c24;
}
.megamenu ul.nav-menu > li *:before, .megamenu ul.nav-menu > li:after {
	border-bottom-color: #f15c24;
}
#header-v4 .iconuser { background-color: #f15c24; }
#header-v4 #top-cart-dropdown .fa-shopping-cart { background-color: #f15c24; }
#header-v4 div.form-search > button { background-color: #f15c24; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #f15c24;
}
.megamenu .nav-menu > li ul.dropdown-menu li > a:hover,
.megamenu .nav-menu > li ul.dropdown-menu li.active > a{
    color:#f15c24;
}
/* #header-v1 #top-cart-dropdown:hover .fa-shopping-cart, 
#header-v1 div.form-search:hover > button, 
#header-v2 #top-cart-dropdown:hover .fa-shopping-cart, 
#header-v2 div.form-search:hover > button {
	background-color: #f15c24;
} */
.breadcrumbs ul li .ss { color: #f15c24; }
.breadcrumbs ul li a,
.breadcrumbs ul li i { color: #f15c24; }
.sidebar a i:hover { color: #f15c24; }
.sidebar .block { background-color: #f15c24; }
.sidebar .block-poll button:hover { color: #f15c24; }
.sidebar .block-related .block-subtitle a:hover { color: #f15c24; }
.sidebar a:hover {
	color: #f15c24;
}
/* #header-v1 #search_mini_form:hover .form-search > button,
#header-v2 #search_mini_form:hover .form-search > button { background-color: #f15c24; } */
.sidebar .block-cart .block-content .subtotal .price { color: #f15c24; }
.sidebar .block-wishlist .block-content li:hover,
.sidebar .block-viewed .block-content li:hover,
.sidebar .re-order .recent_posts_widget li:hover,
.sidebar .block-cart .block-content li:hover,
.sidebar .block-compare .block-content li:hover,
.sidebar .block-related .block-content li:hover { border-left: 2px solid #f15c24; }
.sidebar .block-cart .block-content ol li .product-details .price { color: #f15c24; }
.toolbar .righttoolbar .view-mode .grid,
.toolbar .righttoolbar .view-mode .list { border-color: #f15c24; }
.toolbar .righttoolbar .view-mode a {
	color: #f15c24;
}
/* #header-v2 .toplinks:hover > a {
	background-color: #f15c24;
} */
.toolbar .righttoolbar .view-mode .grid:hover,
.toolbar .righttoolbar .view-mode .grid:active,
.toolbar .righttoolbar .view-mode .list:hover,
.toolbar .righttoolbar .view-mode .list:active,
.toolbar .righttoolbar .view-mode strong { 
	background-color: #f15c24;
	border-color: #f15c24; 
}
.toolbar .lefttoolbar > a {
	border-color: #f15c24;
	color: #f15c24;
}
.toolbar .lefttoolbar > a:hover {
	background: #f15c24;
}
.toolbar-bottom ul.pagination li.active a,
.toolbar-bottom ul.pagination li:hover a,
.blog-index-list .toolbar ul li:hover a,
.blog-index-list .toolbar ul li.active a,
.blog-cat-view .toolbar ul li:hover a,
.blog-cat-view .toolbar ul li.active a {
	background-color: #f15c24;
	border: 1px solid #f15c24;
}
.category-products ol#products-list .item .product-image a.link-details .fa { background: none repeat scroll 0 0 #f15c24; }
.category-products ol#products-list .item .info-products-list .funs .add-to-links li a { color: #f15c24; }
.category-products ol#products-list .item .info-products-list .funs .add-to-links li:hover a { background: #f15c24; }
.category-products ol#products-list .item .info-products-list .funs .ratings a:hover {
	color: #f15c24;
}
.category-products ol#products-list .item .info-products-list .funs > button { color: #f15c24; }
.category-products ol#products-list .item .info-products-list .funs > button:hover { background: #f15c24; }
div.cart table#shopping-cart-table tbody tr td .link-wishlist:hover {
	color: #f15c24;
}
div.cart table#shopping-cart-table tbody tr td .cart-price .price { color: #f15c24; }
.cart-collaterals #discount-coupon-form .discount div.title,
.cart-collaterals .shipping div.title,
.cart-collaterals .total div.title { background: none repeat scroll 0 0 #f15c24; }
.cart-collaterals #discount-coupon-form .discount .discount-form button,
.cart-collaterals .total .checkout-types .btn-proceed-checkout,
.cart-collaterals .shipping .shipping-form #co-shipping-method-form button,
.oscheckout-popup-wrapper #oscheckout-login-button,
#oscheckout-form #review-btn,
#checkoutSteps .col2-set button.btn-login,
#checkout-review-submit button {
	background: url("../../images/btn-gradient.png") no-repeat scroll left center #f15c24;
}
.cart-collaterals .total #shopping-cart-totals-table tr td.a-right { color: #f15c24; }
.cart-collaterals .total .checkout-types li a:hover {
	color: #f15c24
}
.link-learn { color: #f15c24; }
.multiple-checkout .fa-trash { color: #f15c24; }
.oscheckout-popup-wrapper a:hover,
#checkoutSteps a:hover {
	color: #f15c24;
}
#checkoutSteps #checkout-review-table-wrapper .price {
	color: #f15c24;
}
#checkoutSteps li.active .step-title,
#oscheckout-form .checkout-container div.title {
	background: none repeat scroll 0 0 #f15c24;
}
#oscheckout-form .review-content table#checkout-review-table .price {
	color: #f15c24;
}
#checkout-progress-state .active {
	border-top-color: #f15c24;
}
div.cart table#shopping-cart-table tbody tr td a { color: #f15c24; }
.multiple-checkout .price { color: #f15c24; }
.postWrapper .postTitle a:hover { color: #f15c24 !important; }
.postWrapper .postDetails a {
	color: #f15c24;
}
.sidebar .menu-tags .tagcloud li a:hover { background: #f15c24; }
.blog-post-view blockquote:hover { border-left: 5px solid #f15c24; }
.comments-title { background: none repeat scroll 0 0 #f15c24; }
.comments .comments-content .content .media-footer > span { color: #f15c24; }
.tp-caption.style3:after {
	border-color: transparent transparent transparent #f15c24 !important;
}
.price-contents .price-table-content {
	background: none repeat scroll 0 0 #f15c24;
}
.price-contents .plan {
	border: 2px solid #f15c24;
}
.to-bottom:before { border-color: transparent transparent #f15c24; }
.to-top-bottom:after { border-color: #f15c24 transparent transparent; }
.sidebar-block .title-name h4 { color: #f15c24; }
.product-label:before,
.discount-save:before { border-color: transparent #f15c24; }
.product-label,
.discount-save { background-color: #f15c24; }
.actions { background: none repeat scroll 0 0 #f15c24; }
.arrows .fa { background: none repeat scroll 0 0 #f15c24; }
.product-content .info-products:hover,
.our-trainers .info-products:hover { background-color: #f15c24; } 
.postWrapper .postTitle a:hover,
.postWrapper .postTitle a:active,
.postWrapper .postTitle a:focus { color: #f15c24; }
.product-list-block .title h3 { color: #f15c24; }
.product-list-block .product-name a:hover { color: #f15c24; }
.product-list-block ul li:hover { border-left-color: #f15c24; }
.special-price,
.regular-price,
.price-from .price,
.price-to .price,
.full-product-price .price { color: #f15c24; } 
.price-notice .price { color: #f15c24;}
.image-media .magnifier .buttons .sf { background-color: #f15c24; }
.product-essential  .btn-cart {
	background: url(../images/btn-gradient.png) no-repeat scroll left center #f15c24;
}
.product-essential  .link-wishlist,
.product-essential  .link-compare {
	background-color: #f15c24;
	border: 1px solid #f15c24;
}
.product-view #product_tabs .panel-group .panel .panel-heading {
	background-color: #f15c24;
}
#footer6,
#footer7,
#footer8,
#footer9,
#footer10 { background: none repeat scroll 0 0 #f15c24; }
#footer6 .social_icon a:hover,
#footer7 .social_icon a:hover,
#footer8 .social_icon a:hover,
#footer9 .social_icon a:hover,
#footer10 .social_icon a:hover { color: #f15c24 !important; }
.footer-title h4 { color: #f15c24; }
#footer5 .footer-title h4:after {
	background-color: #f15c24;
}
#footer5 .footer-blocks ul li:before {
	color: #f15c24;
}
#footer ul li a:hover {
	color: #f15c24;
}
.sticky_menu {
	border-bottom: 1px solid #f15c24;
}
#footer .btn.btn-primary:hover { background-color: #f15c24 !important; }
.social_icon a:hover { background-color: #f15c24; }
.back-to-top a {
	color: #f15c24;
}
#copyright:hover {
	background: none repeat scroll 0 0 #f15c24;
}
#footer1 .send-mail .block-subscribe button:hover i, 
#footer2 .send-mail .block-subscribe button:hover i, 
#footer3 .send-mail .block-subscribe button:hover i, 
#footer4 .send-mail .block-subscribe button:hover i, 
#footer5 .send-mail .block-subscribe button:hover i { color: #fff; }
#footer1 .footer-title h4, 
#footer2 .footer-title h4 , 
#footer3 .footer-title h4, 
#footer4 .footer-title h4, 
#footer5 .footer-title h4 {
	color: #f15c24;
}
.product-view #product_tabs > ul li a:hover,
.product-view #product_tabs > ul li.active a{
	background-color: #f15c24 !important;
}
.timetable-top .table:before { background-color: #f15c24; }
.timetable_details a:hover { color: #f15c24; }
.latest-post-list .popular-event-title,
.latest-post-list .news-date,
.latest-news-item:hover .news-info .news-title a,
.join a:hover,
.ch-info-back h2,
.our-pricing-title h2,
.our-pricing-title h3 { color: #f15c24; }

.latest-news-item:hover { border-left-color: 2px solid #f15c24; }
.content-our-team.our-team-tabs .our-team-pane {
	background: none repeat scroll 0 0 #f15c24;
}
.content-our-team.our-team-tabs .our-team-nav > span:hover, .content-our-team.our-team-tabs .our-team-nav > span.our-team-current {
	background: none repeat scroll 0 0 #f15c24;
}
.ch-info .ch-info-back {
	background-color: #f15c24;
}
.our-price .label-product-save:before { border-color: transparent transparent transparent #f15c24; }
.our-price .label-product-save { background-color: #f15c24; }
.yoga-card .our-price .label-product-save:before {
	border-color: transparent #f15c24 transparent transparent;
}
.tp-bullets.simplebullets.round .bullet:hover, 
.tp-bullets.simplebullets.round .bullet.selected, 
.tp-bullets.simplebullets.navbar .bullet:hover, 
.tp-bullets.simplebullets.navbar .bullet.selected{
	background: #f15c24 !important;
}
.box-left .icon .fa, .box-right .icon .fa{
    background: none repeat scroll 0 0 #f15c24;
}
.box-left .icon .fa:after, .box-right .icon .fa:after {
	border-color: #f15c24 transparent transparent;
}
.our-pricing { background: none repeat scroll 0 0 #f15c24; }
.box-left .icon .fa:after, .box-right .icon .fa:after{
    border-top-color: #f15c24;
}
.sevices-wapper:hover{
    background:#f15c24;
}
.price-table-content a {
	border: 2px solid #f15c24;
	background-color: #f15c24;
}
.price-table-content.hover:hover a{
	border-color: #f15c24;
	background-color: #f15c24;
}
.price-table-content:hover { background-color: #f15c24;}
.price-table-content:hover .price-table-text a {
	color: #f15c24;
}
.price-table-content.hover{
	background-color: #f15c24;
}
.summer-discount .discount-off {
	color: #f15c24;
}
.owl-page.active {
  background: none repeat scroll 0 0 #f15c24;
}
.text-box h5 {
	color: #f15c24;
}
.img-box-right {
	background: none repeat scroll 0 0 #f15c24;
}
.img-box-right-border {
	border-left-color:#f15c24;
    border-right: 0 solid #f15c24;
}
.boxing-card.category .boxing-card-content {
	background-color: #f15c24;
}
.category .yoga-content { background: #f15c24; }
.faq .panel-content-heading {
	border: 1px solid #f15c24;
}
.faq .panel-content-heading:hover,
.faq .panel-content-heading.active{
	background-color: #f15c24;
}
.headding-content .icon-headding {
	background: none repeat scroll 0 0 #f15c24;
}
.headding-content span{color:#f15c24;}
.btn-submit {
	background: none repeat scroll 0 0 #f15c24;
}
.error-icon { color: #f15c24; }
.block-account { background-color: #f15c24; }
.my-account a:hover,
.my-account a:focus,
.view-detail a{ color: #f15c24;}
.owl-carousel .owl-controls .owl-prev:hover, 
.owl-carousel .owl-controls .owl-next:hover{
	background-color: #f15c24 !important;
}
.category-product-list .item:hover{
	background-color: #f15c24;	
}
p.no-rating > a { color: #f15c24; }
p.email-friend > a { color: #f15c24; }
.actions ul li a, .actions ul li button {
	background-color: rgba(0,0,0,0.15) !important;
	color: #fff !important;
}

